@import "~/node_modules/snippo-ui/dist/snippo-ui.css";

.snippetsapp-form,
.snippetsapp-output-container {
	max-width: 800px;
}

.snippetsapp-output-text {
	line-height: 1.8;
}

.snippetsapp-output-text code {
	background: transparent;
}
