@import "~/node_modules/snippo-ui/dist/snippo-ui.css";

.snippet-form {
	max-width: 400px;
}

.snippet-output-container {
	max-width: 800px;
}

.snippet-output-text {
	line-height: 1.8;
}

.snippet-output-text ul,
.snippet-output-text ol {
	margin-left: 1rem;
	margin-top: 1rem;
	padding: 0;
}

.snippet-output-text ul {
	list-style: disc;
}
